
.bg-hikatsuku {
  background: #2A3F54;
  transition-duration:.2s;
}
main {
  transition-duration:.2s;
}

.bg-hikatsuku a, .bg-hikatsuku button {
  color: white;
}

.bg-hikatsuku .accordion-button::after {
  color: white;
  margin: 0;
  right: 15px;
  top: 26px;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: none;
  margin-top: -14px;
  border-top: solid 2px white;
  border-right: solid 2px white;
  transform: rotate(135deg);
}

.bg-hikatsuku .accordion-button:not(.collapsed)::after {
  transform: rotate(-45deg);
  top: 37px;
  border-top: solid 2px #0c63e4;
  border-right: solid 2px #0c63e4;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
}

body.nav-sm .bg-hikatsuku {
  width: 70px;
}
body.nav-sm main {
  width: 93%;
  /* position: absolute;
  padding-left: 70px!important; */
}

body.nav-sm .sidebar.collapse:not(.show) {
    display: block;
}

body.nav-sm .accordion-button::after {
    display: none;
}

body.nav-sm i, body.nav-sm .accordion-button, body.nav-sm .nav.flex-column .nav-link {
    display: block;
    text-align: center!important;
    font-size: 10px;
    padding: .5rem 0;
}
body.nav-sm i {
    padding: 0!important;
    margin-bottom: 5px;
}
body.nav-sm i::before {
  font-size: 27px;
}
